h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url("../assets/satelliteimage.jpg"); */
  background-color: #1a1a1ae5;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* for collapsible panels */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* .code-sample {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(249, 249, 249, 0.8);
  color: #050505;
} */
.code-sample {
  order: 1px solid #ccc;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  /* background-color: #f1f1f1; */
  background-color: rgba(249, 249, 249, 0.8);
  color: #1100ff;
  font-size: 20px;
}


/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px;
}
