/* This is the main stylesheet for the application. */
body {
  background-image: url("../assets/pixels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
}
